@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,500;0,600;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../../src/fonts/ProximaNova-Regular.eot");
  src: local("../../src/fonts/Proxima Nova Regular"), local("../../src/fonts/ProximaNova-Regular"), url("../../src/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../../src/fonts/ProximaNova-Regular.woff") format("woff"), url("../../src/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../../src/fonts/ProximaNova-Bold.eot");
  src: local("../../src/fonts/Proxima Nova Bold"), local("../../src/fonts/ProximaNova-Bold"), url("../../src/fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../../src/fonts/ProximaNova-Bold.woff") format("woff"), url("../../src/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "icon-font";
  src: url("../../src/fonts/icon-font.eot?k2411t");
  src: url("../../src/fonts/icon-font.eot?k2411t#iefix") format("embedded-opentype"), url("../../src/fonts/icon-font.ttf?k2411t") format("truetype"), url("../../src/fonts/icon-font.woff?k2411t") format("woff"), url("../../src/fonts/icon-font.svg?k2411t#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icon-font" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-1:before {
  content: "";
}

.icon-arrow-2:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.accordion-1 {
  padding: 3.125rem 0px;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  color: #121214;
}
.accordion-1__title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  margin: 0px 0px 2.5rem 0px;
}
.accordion-1__body {
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 768px) {
  .accordion-1__body {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.accordion-1__items-list {
  max-width: 540px;
}
.accordion-1__item {
  padding: 0.9375rem 1.25rem;
  border: 0.0625rem solid #848484;
  border-radius: 0.125rem;
  transition: border-color 0.5s;
}
.accordion-1__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.accordion-1__item.active {
  border-color: #01a6b9;
}
.accordion-1__item.active .accordion-1__item-question span {
  transform: rotate(-90deg);
  color: #037e8c;
}
.accordion-1__item.active .accordion-1__item-answer {
  opacity: 1;
  margin-top: 1.25rem;
}
.accordion-1__item-question {
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 600;
  padding: 0px 2.5rem 0px 0px;
}
.accordion-1__item-question span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.375rem;
}
.accordion-1__item-answer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 0.5s ease-out;
}
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .info {
    order: -1;
  }
  .info__text {
    max-width: 20rem;
  }
}
.info__icon {
  margin: 0px 0px 1.5625rem 0px;
}
.info__title {
  font-size: 1.5rem;
  margin: 0px 0px 0.9375rem 0px;
  font-weight: 600;
}
.info__text {
  width: 20rem;
  text-align: center;
  margin: 0px 0px 1.875rem 0px;
}
.info__btn {
  border-radius: 9px;
  height: 2.8125rem;
  line-height: 2.8125rem;
  padding: 0px 1.875rem;
  color: #ffffff;
  background-color: #037e8c;
  transition: background-color 0.5s ease-out;
}
.info__btn:hover {
  background-color: #01a6b9;
}

.accordion-2 {
  padding: 3.125rem 0;
  font-family: "Proxima Nova";
  font-weight: normal;
  background-color: #282b38;
  color: #ffffff;
}
.accordion-2__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accordion-2__body {
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
.accordion-2__title {
  position: relative;
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px 0px 0.9375rem 0px;
  margin: 0px 0px 3.125rem 0px;
}
.accordion-2__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 0.125rem;
  width: 5.3125rem;
  background-color: #e58d35;
}
.accordion-2__item {
  border: 0.0625rem solid #3a444e;
  border-radius: 0.625rem;
  transition: background-color 0.5s ease-out;
  padding: 1.25rem 2.1875rem;
}
.accordion-2__item.active {
  background-color: #ffffff;
}
.accordion-2__item.active .accordion-2__question {
  color: #282b38;
}
.accordion-2__item.active .accordion-2__question span {
  transform: rotate(-90deg);
  color: #e58d35;
}
.accordion-2__item.active .accordion-2__answer {
  margin: 1.25rem 0px 0px 0px;
}
.accordion-2__question {
  font-weight: bold;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  cursor: pointer;
}
.accordion-2__question span {
  font-size: 1.6875rem;
  transition: all 0.5s ease-out;
}
.accordion-2__answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
  color: #282b38;
}

.accordion-3 {
  padding: 3.125rem 0;
  font-family: "Montserrat Alternates", sans-serif;
}
.accordion-3__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.accordion-3__title {
  font-size: 2.125rem;
  font-weight: 700;
}
.accordion-3__list {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.accordion-3__item.active .accordion-3__question span {
  transform: rotate(-45deg);
  color: #bd7048;
}
.accordion-3__item.active .accordion-3__answer {
  box-sizing: content-box;
  padding-bottom: 1.25rem;
  margin: 1.25rem 0px 0px 0px;
  border-bottom: 4px solid #bd7048;
}
.accordion-3__question {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 1.25rem 1.5625rem;
  background-color: #f5f5f5;
  border-radius: 6.25rem;
  font-size: 1.25rem;
  line-height: 1.2;
}
.accordion-3__question span {
  font-size: 1.875rem;
  transition: all 0.5s ease-out;
}
.accordion-3__answer {
  max-height: 0;
  overflow: hidden;
  line-height: 1.5;
  padding: 0px 1.5625rem;
  transition: all 0.5s ease-out;
}

[class*=__container] {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 768px) {
  [class*=__container] {
    padding: 0 10px;
  }
}