//_Fonts:
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

//_Import:
@import "reset.scss";
@import "functions.scss";
@import "icon-font.scss";
@import "accordion-1.scss";

[class*="__container"] {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  @media (max-width: 768px) {
    padding: 0 10px;
  }
}
